h1{
    color: black;
	text-decoration: none;
	font-size: 30px;
}
h3{
    color:black;
    text-decoration: none;
    font-size: 25px;
}
head,body{
    word-spacing: 5px;
    background-color: mediumpurple;
}
.img13{
    width: 40%;
    float: right;
}
footer{
    text-align: center;
}